<!DOCTYPE html>
<html>
<head>
  <title>Server Request Submitted</title>
</head>
<body>
  <h1>Server Request Submitted!</h1>
  <ul>
    <li><b>Project:</b> {{ project_name }}</li>
    <li><b>Start:</b> {{ start_date }} → <b>End:</b> {{ end_date }}</li>
    <li><b>Server Size:</b> {{ server_size }}</li>
    <li><b>Description:</b> {{ description }}</li>
    <li><b>Base OS:</b> {{ base_os }}</li>
    <li><b>Optional Software:</b> {{ optional_software }}</li>
    <li><b>Disk:</b> {{ disk_size }}</li>
    <li><b>Mount Path:</b> {{ mount_path }}</li>
  </ul>
  <a href="/">Back to form</a>
</body>
</html>
